{% extends "base.html" %}

{% block title%}  {% endblock %}

{% block body %}
<h1>Search Results</h1>
<ul>
    {% if query %}
    <li>Keyword: {{ query }}</li>
    {% endif %}
    {% if author %}
    <li>Author: {{ author }}</li>
    {% endif %}
    {% if category %}
    <li>Category: {{ category }}</li>
    {% endif %}
</ul>
<ul>
    {% for book in books %}
    <li>
        <h2>{{ book.title }}</h2>

        <p><strong>Authors:</strong> {{ book.authors|join:", " }}</p>
        <p><strong>Description:</strong> {{ book.description }}</p>
        <p><strong>Ratings Count:</strong> {{ book.ratings_count }}</p>
        <p><strong>Average Rating:</strong> {{ book.average_rating }}</p>
        {% if book.cover_image %}
        <img src="{{ book.cover_image }}" alt="{{ book.title }} cover">
        {% endif %}
    </li>
    {% endfor %}
</ul>
<form method="get" action="">
    <input type="text" name='keyword' placeholder="Search by Keyword">
    <input type="text" name='author' placeholder="Search by Author">
    <input type="text" name='category' placeholder="Search by Category">
    <button type="submit">Search</button>
</form>
{% endblock %}
